{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-dark text-white">
            <h3>Student Details</h3>
        </div>

        <div class="card-body">

            <p><strong>Name:</strong> {{ student.student_name }}</p>

            <p><strong>Roll No:</strong> {{ student.roll_no }}</p>

            <p><strong>Branch:</strong> {{ student.branch }}</p>

            <p><strong>Year:</strong> {{ student.year }}</p>

            <p><strong>Email:</strong> {{ student.email }}</p>

            <p><strong>Phone:</strong> {{ student.phone }}</p>

        </div>

        <div class="card-footer">

            <a href="{% url 'studentList' %}"
               class="btn btn-secondary">
               Back
            </a>

            <a href="{% url 'editStudent' student.id %}"
               class="btn btn-warning">
               Edit
            </a>

        </div>

    </div>

</div>

{% endblock %}